In [35]:
import pandas as pd
stats = pd.read_json('results.json').sort_values('spearman')
stats.T[stats.nunique() > 1]

                     0         4         1         2         3         5
est_type            rf      lgbm      catb       xgb      catb      lgbm
max_depth            6         3       NaN         3       NaN         3
n_estimators       200       500       NaN       500       NaN       500
objective          NaN   poisson    normal   poisson   poisson    normal
pairwise         False     False     False     False     False      True
spearman      0.591988  0.674697  0.698308  0.704238  0.722154  0.733244