In [31]:
import pandas as pd

%load_ext autoreload
%autoreload 2

import pipeline as pl

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
%%time
pl.test_validate()

{'spearman': 0.5711142145457642}
CPU times: user 2.19 s, sys: 42.2 ms, total: 2.23 s
Wall time: 2.28 s

In [25]:
%%time
pl.test_validate_pairwise()

{'spearman': 0.6251875869527089}
CPU times: user 17.8 s, sys: 240 ms, total: 18.1 s
Wall time: 18 s

In [35]:
stats = pd.read_json('results.json').sort_values('spearman')
stats.T[stats.nunique() > 1]

                     0         4         1         2         3         5
est_type            rf      lgbm      catb       xgb      catb      lgbm
max_depth            6         3       NaN         3       NaN         3
n_estimators       200       500       NaN       500       NaN       500
objective          NaN   poisson    normal   poisson   poisson    normal
pairwise         False     False     False     False     False      True
spearman      0.591988  0.674697  0.698308  0.704238  0.722154  0.733244